body {
    margin: 0;
    background-color: #C8E2F0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto; /* serve a eliminare il margin-bottom che le immagini hanno di default */
}



main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: #1a0f0f;
    
   
}

header a:hover {
    color: rgb(43, 53, 169);
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #28A3DD;
}



header nav ul {
    list-style-type:none;
    font-size: 30px;
    display:flex;
    gap: 500px;
}

div.hero {
    max-width: 1145px;
    background:#FB9334;/* colore impostato con RGB e con la trasparenza, che si può notare sopratutto quando cambia il colore di sfondo */
    border-radius: 45px;
    margin-top: 30px;
    margin-left: 245px;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 1px;
    padding-bottom: 1px;
}


section.hero h1 {
    margin: 0;
    padding: 40px ;
    font-size: 60px;
    color: #414A4F;
}

main {
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}



main div.card img {
   
    object-fit: cover;
    height: 500px;
    width: 500px;
}


main div img {
    border-radius: 70px;
}




main div.card p {
    margin: 0;
    padding: 0 20px 20px 20px;
    font-size: 14px;
    line-height: 1.5; /* l'interlinea del testo */
}

main div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}

.contacts{
    background: #FB9334;
     width: 560px;
    border-radius: 50px;
    padding: 5px 15px;
    margin-left: 245px;
}
    
div.end{
    margin: 10px;
    text-align:start;
    padding-bottom: 3%;
    padding-right: 2%;
}

footer {
    max-width: auto;
    text-align: center;
    padding: 30px;
    background-color: #003D59;

}

footer p {

     margin: 0;
    padding: 10px 0;
    font-size: 30px;
    color:#ffffff
}




    header {
        flex-direction: column;
        gap:10px;
    }